.app {
  text-align: center;
  padding-top: 70px;
}

.search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.search{
  height: 40px;
  width: 500px;
  font-weight: bold;
background-color: white;
margin: 10px;
border: 0px;
border-radius: 25px;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
color: rgb(54, 54, 54);
padding-left: 10px;
padding-right: 10px;
position: relative;
outline: none;
transition: all 150ms cubic-bezier(0.2, 0.6, 0.252, 1.2);
}

button{
  border: 0px;
  border-radius: 25px;
  height: 40px;
  background-color: #FFBF00;
  padding: 0px 15px 0px 15px;
  
}
button:hover{
  background-color: #a77d00;
  cursor:pointer;
}

.container {
  display: grid;
  grid-template-columns: 300.5px 300px 300px;
  grid-template-rows: 360px 360px 360px;
  gap: 28px 28px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";

}

/* For presentation only, no need to copy the code below */

.container * {
  position: relative;
}

.container *:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  
  
}

.album-image{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.album-wrapper {
  border: solid 1px rgb(204, 204, 204);
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  height: 100%;
  width: 100%;
}
